*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    color: #2d3748;
    text-decoration: none;
    list-style: none;
}

html{
    font-size: 10px;

}

html::-webkit-scrollbar{
    width: 20px;

}
html::-webkit-scrollbar-thumb{
    background-color: var(--theme-color);
}

html::-webkit-scrollbar-track{
    background: #2d3748;
}

:root{
    --theme-text:#2d3748;
    --theme-text-dull:#5c6069;
    --theme-text-long:#718096;
    --theme-color:#0081eb;
    --theme-color-hover:#0062b3;
    --theme-section-bg:#f6f7fc;
}