.ml-2{
    margin-left: 2rem;
}
.btn{
    background-color:var( --theme-color);
    color: #ffffff;
    padding: 1rem 2rem;
    border-radius: 12px;
    font-size: 1.6rem;
    font-weight: 400;
}
.m-btn{
    display: block;
    background-color:var( --theme-color);
    color: #ffffff;
    padding: 1rem 2rem;
    border-radius: 12px;
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
    margin-top: 2rem;
}
.btn:hover{
    background-color: var(  --theme-color-hover);
    transition: all 0.2s ease-in;
}

.m-btn:hover{
    background-color: var(  --theme-color-hover);
    transition: all 0.2s ease-in;
}
.active{
    color: #0081EB!important;
}